.countdown-time {
    display: inline-block !important;
    color: inherit !important;
}
.countdown-numbers {
    display: inline;
    margin: 0 0.5rem;
}
.countdown-digit {
    display: inline-block !important;

    section {
        width: 1.5rem !important;
        margin: -0.2rem !important;
        padding: 0 !important;
    }
}
.countdown {
    display: inline !important;
}
